<ul class="flex flex-col  mt-3 items-center min-h-[98vh]" >
    <li class="mt-3 bg-blue-500 py-3 px-6 w-96 rounded-md font-bold text-center text-white hover:mr-1">
      <a href="/">Home</a>
    </li>
    <li class="mt-3 bg-blue-500 py-3 px-6 w-96 rounded-md font-bold text-center text-white hover:mr-1">
      <a href="/books"> Book List</a>
    </li>
    <li class="mt-3 bg-blue-500 py-3 px-6 w-96 rounded-md font-bold text-center text-white hover:mr-1">
      <a href="/admin">Admin</a>
    </li>
    <li class="mt-3 bg-blue-500 py-3 px-6 w-96 rounded-md font-bold text-center text-white hover:mr-1">
      <a href="/insert">Add New Book</a>
    </li>
  </ul>