<%- include('./partials/Header.ejs')%>

    <div class="grid grid-cols-12">
      <div class="col-span-12 sm:col-span-3 bg-gray-200">
        <%- include('./partials/Sidebar.ejs')%>
      </div>

      <!-- Center Horizontal and Vertical -->
      <div class="col-span-12 sm:col-span-9 bg-gray-100">
        <div class="py-1 py-3">
          <h1 class="text-4xl text-blue-400 font-black my-6 text-center"><b>Seneca Library</b></h1>
        <div class="pl-3">
          <h3 class="font-bold  text-blue-400  my-4"><b>Seneca Book Library</b></h3>
          <p style="color: rgb(0, 0, 0)">
            The Purpose of this website is to guide you through a sea of information.
          </p>
          <p1>
            <h1 class="font-bold  text-blue-400  my-4"><b>Vission</b></h1>

            Seneca Libraries is central to the vibrant instructional and learning culture found throughout the college.
            Through innovative services and collaborative partnerships, Seneca Libraries actively engages with the college
            community to enhance student success. We provide access to the finest library resources, trusted learning spaces and
            the expertise of professional librarians and support staff.

            <h1 class="font-bold  text-blue-400  my-4"><b>Mission</b></h1>

            To create seamless access to Seneca Libraries’ resources, services and
            spaces by:Integrating library products and services into all instructional modalities Researching,
            experimenting with and distributing the new technologies that enhance and support diverse
            learning styles Promoting innovation and excellence in teaching information literacy competencies for faculty and
            students Advocating for improved library spaces that support student learning and knowledge creation Expanding electronic formats
            through innovative technologies Creating opportunities for library staff training Pursuing collaborative relationships to
            enhance and develop quality products and services.

            <h1 class="font-bold  text-blue-400  my-4"><b>Values</b></h1>

            Seneca Libraries is committed to quality by offering: Student-centered product and service provision Excellence in customer service and instructional activities Respect for all
            students, faculty and staff Vibrant workplaces based on personal integrity, professionalism, knowledge, accountability, diversity,
            openness and trust Innovation in tracking, testing and implementing relevant and leading-edge technologies and resources
            Collaboration, teamwork and leadership with internal and external partners Empowerment through equitable library access regardless of media or
            learning style.
          </p1>
        </div>
        </div>
      </div>
    </div>





  </body>
</html>
