<%- include('./partials/Header.ejs')%>

    <div class="grid grid-cols-12">
      <div class="col-span-12 sm:col-span-3 bg-gray-200">
        <%- include('./partials/Sidebar.ejs')%>
      </div>

      <!-- Center Horizontal and Vertical -->
      <div class="col-span-12 sm:col-span-9 bg-gray-100">
    <div
      class="error"
      style="margin-left: 25%; padding: 1px 16px; height: 1000px"
    >
      <h1 class="text-2xl text-red-400  mt-5"><b>404 Error</b></h1>
      <p>Sorry, the page you are looking for is not found.</p>
    </div>
    </div>


  </body>
</html>
